description = "Default footer"

==
<footer class="container-fluid">

    <div class="row">
        <div class="col-md-3 col-sm-6">
            <h3>Kontak</h3>
            <span class="sosmed bukubiru">
                <img src="{{ 'assets/img/sosmed-buku.png'|theme }}">
                <a href="//facebook.com/NightLogin">Night Login</a>
            </span>
            <br>
            <span class="sosmed burung">
                <img src="{{ 'assets/img/sosmed-burung.png'|theme }}">
                <a href="//facebook.com/NightLogin">@nightlogin</a>
            </span>
            <br>
            <span class="small">
                CP : 081 227 159 824 (Elisabeth Diana K)
            </span>
            <br>
            <h4>Alamat</h4>
            <p class="small">
                Jurusan Teknik Elektro dan Teknologi Informasi <br>
                Universitas Gadjah Mada <br>
                Jalan Grafika No 2, Kampus UGM Yogyakarta 55281
            </p>
        </div>

        <div class="col-md-3 col-sm-6">
            <h3>Kategori Posting</h3>
        </div>

        <div class="col-md-3 col-sm-6">
            <h3>Posting Terbaru</h3>
        </div>

        <div class="col-md-3 col-sm-6">
            <h3>Related Link</h3>
            <ul>
                <li>KMTETI UGM</li>
                <li>JTETI UGM</li>
                <li>Fakultas Teknik UGM</li>
                <li>Elisa</li>
                <li>Papirus</li>
                <li>Magatrika JTETI</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 license">
            &copy; Night Login, design and code by Dhika and Diana
        </div>
    </div>

</footer>