description = 'Default main navigation bar'

==
<nav class="navbar navbar-nightly">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse">
                <span class="sr-only">Open navigation menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">
                <img src="{{ 'assets/img/nl-logo-notext.png'|theme }}" alt="Night Login logo">
            </a>
            <a href="#" class="navbar-brand">Night Login</a>
        </div>

        <div class="collapse navbar-collapse" id="menu-collapse">
            <ul class="nav navbar-nav">
                <li class="{{ this.page.id == 'home'?'active':'' }}"><a href="{{ 'home'|page }}">Home</a></li>
                <li class="{{ this.page.id == 'communities'?'active':'' }}"><a href="{{ 'communities'|page }}">Communities</a></li>
                <li><a href="//nightlogin.caster.fm/" target="_blank">Radio NL</a></li>
                <li class="{{ this.page.id == 'about'?'active':'' }}"><a href="{{ 'about'|page }}">About Us</a></li>
            </ul>
        </div>
    </div>
</nav>