html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  outline: 0;
  border: 0;
  font-size: 16px;
}

body {
  color: black;
}

.landing {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-color: #D50000;
  color: white;
  position: relative;
  background: url(../img/landing-cover.jpg) no-repeat center center;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0 0 7px 1px black;
}
.landing .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: auto;
}
.landing .logo img {
  width: 100%;
  height: auto;
}
.landing .tagline {
  text-align: center;
  display: inline-block;
}
.landing .tagline h1 {
  font-size: 5.5rem;
  margin-bottom: none;
}
.landing .tagline h3#slogan {
  margin-top: 1rem;
  padding-top: none;
}
.landing nav.navbar-landing {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 2rem;
  text-align: right;
  font-size: 1.4rem;
}
.landing nav.navbar-landing a, .landing nav.navbar-landing a:link, .landing nav.navbar-landing a:focus, .landing nav.navbar-landing a:visited {
  font-size: 1.4rem;
  color: white;
  transition: 200ms ease;
  margin: 0 0.5rem;
}
.landing nav.navbar-landing a:hover, .landing nav.navbar-landing a:active {
  background-color: inherit;
  text-decoration: underline;
}
.landing nav.navbar-landing li.active a {
  border: thin solid white;
  border-radius: 8px;
}

body > nav.navbar-nightly {
  background-color: #BF0000;
  box-shadow: 0 0 7px 1px black;
  background-image: url(../img/noise-texture.png);
  margin-bottom: 0;
}
body > nav.navbar-nightly .navbar-brand {
  color: #F39C12;
}
body > nav.navbar-nightly .navbar-brand img {
  height: 60px;
  width: auto;
  margin-top: -10px;
}

main {
  min-height: 100%;
}
main h1, main h2 {
  color: #D50000;
  margin-bottom: 2.5rem;
}
main .post-index .post {
  border-top: 1px solid red;
  padding-top: 0.5rem;
  margin-bottom: 1.4rem;
}
main .post-index .post h3 {
  color: #D50000;
  padding-top: 0;
  margin-top: 0;
}

footer {
  background-color: #D50000;
  background-image: url(../img/noise-texture.png);
  color: white;
  box-shadow: 0 0 7px 1px black;
  z-index: 10;
  margin-top: 10px;
}
footer .sosmed > img {
  width: 24px;
}
footer a {
  color: #F39C12;
}
footer .small {
  font-size: 14px;
}
footer .license {
  margin-top: 1rem;
  text-align: center;
}

.navbar-nightly {
  background-color: #bf0000;
  border-color: #8d1f1f;
}
.navbar-nightly .navbar-brand {
  color: #ffffff;
  height: 70px;
  line-height: 35px;
}
.navbar-nightly .navbar-brand:hover, .navbar-nightly .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-nightly .navbar-text {
  color: #ffffff;
  height: 70px;
  line-height: 35px;
}
.navbar-nightly .navbar-nav > li > a {
  height: 70px;
  line-height: 35px;
  color: #ffffff;
}
.navbar-nightly .navbar-nav > li > a:hover, .navbar-nightly .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #8d1f1f;
}
.navbar-nightly .navbar-nav > li > .dropdown-menu {
  background-color: #bf0000;
}
.navbar-nightly .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-nightly .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-nightly .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ecdbff;
  background-color: #8d1f1f;
}
.navbar-nightly .navbar-nav > li > .dropdown-menu .divider {
  background-color: #8d1f1f;
}
.navbar-nightly .navbar-nav > .active > a, .navbar-nightly .navbar-nav > .active > a:hover, .navbar-nightly .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #8d1f1f;
}
.navbar-nightly .navbar-nav > .open > a, .navbar-nightly .navbar-nav > .open > a:hover, .navbar-nightly .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #8d1f1f;
}
.navbar-nightly .navbar-toggle {
  border-color: #8d1f1f;
}
.navbar-nightly .navbar-toggle:hover, .navbar-nightly .navbar-toggle:focus {
  background-color: #8d1f1f;
}
.navbar-nightly .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-nightly .navbar-collapse,
.navbar-nightly .navbar-form {
  border-color: #ffffff;
}
.navbar-nightly .navbar-link {
  color: #ffffff;
}
.navbar-nightly .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-nightly .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-nightly .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nightly .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-nightly .navbar-nav .open .dropdown-menu > .active > a, .navbar-nightly .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-nightly .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #8d1f1f;
  }
}
