html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

body {
  color: black;
}

.landing {
  margin-top: 0;
  display: block;
  min-height: 70%;
  background-color: #D50000;
  color: white;
  position: relative;
}
.landing nav {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 2rem;
  text-align: right;
}
.landing nav p {
  display: inline-block;
}
