@import 'main'

main.container-fluid
  padding: 0
  margin: 0

section
  padding: 100px 30px 70px
  position: relative

section:nth-child(odd)
  background-color: $nl-red
  background-image: $noise-texture
  min-height: 80vh
  h1, h2
    color: white

section:nth-child(even)
  background-color: white

section.about-landing
  padding-top: 2rem

  img.logo
    display: block
    margin: 0 auto
    width: 50%

  h1
    text-align: center

    big
      font-weight: bold

section.structure
  h2
    text-align: center

  img.bagan-organisasi
    width: 600px
    margin: 10px auto

section.kontak
  h2
    margin-bottom: 0.4rem
  .sosmed
    display: inline-block
    padding-bottom: 0.5rem
    img
      padding-right: 0.5rem
      vertical-align: middle

/* Triangles */
.ss-triangle::after
  left: 50%
  width: 100px
  height: 100px
  -webkit-transform: translateX(-50%) rotate(45deg)
  transform: translateX(-50%) rotate(45deg)
  position: absolute
  content: ''
  pointer-events: none

.ss-triangle::after
  bottom: -50px
  z-index: 10
  background: inherit
