$standard-shadow: 0 0 7px 1px black
$noise-texture: url(../img/noise-texture.png)

$nl-red: #D50000
$nl-dark-red: #BF0000
$nl-orange: #F39C12


html, body
  margin: 0
  padding: 0
  height: 100%
  min-height: 100%
  outline: 0
  border: 0
  font-size: 16px

body
  color: black

.landing
  margin-top: 0
  display: flex
  justify-content: center
  align-items: center
  min-height: 100%
  background-color: $nl-red
  color: white
  position: relative
  background: url(../img/landing-cover.jpg) no-repeat center center
  background-color: rgba(0,0,0,0.8)
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  box-shadow: $standard-shadow

  .logo
    position: absolute
    top: 0
    left: 0
    width: 300px
    height: auto
    img
      width: 100%
      height: auto

  .tagline
    text-align: center
    display: inline-block
    h1
      font-size: 5.5rem
      margin-bottom: none
    h3#slogan
      margin-top: 1rem
      padding-top: none

  nav.navbar-landing
    display: block
    position: absolute
    bottom: 0
    right: 0
    margin-right: 2rem
    text-align: right
    font-size: 1.4rem

    a, a:link, a:focus, a:visited
      font-size: 1.4rem
      color: white
      transition: 200ms ease
      margin: 0 0.5rem
    a:hover, a:active
      background-color: inherit
      text-decoration: underline

    li.active a
      border: thin solid white
      border-radius: 8px

body > nav.navbar-nightly
  background-color: $nl-dark-red
  box-shadow: $standard-shadow
  background-image: $noise-texture
  margin-bottom: 0

  .navbar-brand
    color: $nl-orange
    img
      height: 60px
      width: auto
      margin-top: -10px

main
  min-height: 100%
  h1, h2
    color: $nl-red
    margin-bottom: 2.5rem

  .post-index
    .post
      border-top: 1px solid red
      padding-top: 0.5rem
      margin-bottom: 1.4rem
      h3
        color: $nl-red
        padding-top: 0
        margin-top: 0

footer
  background-color: $nl-red
  background-image: $noise-texture
  color: white
  box-shadow: $standard-shadow
  z-index: 10
  margin-top: 10px

  .sosmed>img
    width: 24px

  a
    color: $nl-orange

  .small
    font-size: 14px

  .license
    margin-top: 1rem
    text-align: center


$navHeight      : 70px
$bgDefault      : #bf0000
$bgHighlight    : #8d1f1f
$colDefault     : #ffffff
$colHighlight   : #ecdbff
$dropDown       : true
.navbar-nightly
  background-color: $bgDefault
  border-color: $bgHighlight
  .navbar-brand
    color: $colDefault
    height: $navHeight
    line-height: $navHeight/2
    &:hover, &:focus
      color: $colHighlight
  .navbar-text
    color: $colDefault
    height: $navHeight
    line-height: $navHeight/2
  .navbar-nav
    > li
      > a
        height: $navHeight
        line-height: $navHeight/2
        color: $colDefault
        &:hover, &:focus
          color: $colDefault
          background-color: $bgHighlight
      @if $dropDown
        > .dropdown-menu
          background-color: $bgDefault
          > li > a
            color: $colDefault
            &:hover, &:focus
              color: $colHighlight
              background-color: $bgHighlight
          .divider
            background-color: $bgHighlight
    > .active
      > a, > a:hover, > a:focus
        color: $colHighlight
        background-color: $bgHighlight
    > .open
      > a, > a:hover, > a:focus
        color: $colHighlight
        background-color: $bgHighlight
  .navbar-toggle
    border-color: $bgHighlight
    &:hover, &:focus
      background-color: $bgHighlight
    .icon-bar
      background-color: $colDefault
  .navbar-collapse,
  .navbar-form
    border-color: $colDefault
  .navbar-link
    color: $colDefault
    &:hover
      color: $colHighlight
@media (max-width: 767px)
  .navbar-nightly .navbar-nav .open .dropdown-menu
    > li > a
      color: $colDefault
      &:hover, &:focus
        color: $colHighlight
    > .active
      > a, > a:hover, > a:focus,
        color: $colHighlight
        background-color: $bgHighlight